
.margin {
    margin: .4rem;
    
}

.cbuilderlabel {
    display: block;
}



.entireform {
    margin: 2rem;
}

.answers {
    text-decoration: underline;
    margin-top: 1rem;
}